<div class="report" style="position: relative; min-height: 200px;">
    <ngx-spinner bdColor="rgba(128, 128, 128, 0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
    name="anulacionesSpinner">
    <p style="font-size: 20px; color: rgb(71, 68, 68)">Cargando...</p></ngx-spinner>
      <h2>Anulaciones</h2>

      <div class="chart-container" #chart style="position: relative; width: 100%; height: 400px;"></div>
      <h3>{{selectedProducto}}</h3>
  
        <table class="data-table">
        <thead>
            <tr>
            <th>Motivo</th>
            <th>Documento</th>
            <th>Qty</th>
            <th>Precio</th>
            <th>Autoriza</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredData">
            <td>{{ item.Motivo }}</td>
            <td>{{ item.Documento }}</td>
            <td>{{ item.Cantidad }}</td>
            <td>{{ item.Precio }}</td>
            <td>{{ item.Autoriza }}</td>
            </tr>
        </tbody>
        </table>

    </div>



