 

 
  <mat-card>
    <mat-card-content>
      
      <form #loginForm="ngForm"  (ngSubmit)="login()">
        <h2>Log In</h2>
        <mat-error *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error>

      <mat-form-field >

          <mat-select placeholder="Sucursal" [(ngModel)]="Sucursal" name="Sucursal" required>
            <mat-option *ngFor="let sucu of sucursalDefault" [value]="sucu">
              {{sucu.sucursal}}
            </mat-option>
          </mat-select>

          <mat-error>
            Please provide a valid Sucursal
          </mat-error>                
      </mat-form-field>


        
      <mat-form-field >
          
        <mat-select placeholder="Tipo Usuario" [(ngModel)]="IdNivel"  name="IdNivel" required> 
            <mat-option *ngFor="let user of usersDefault" [value]="user.value">
                {{user.username}}
            </mat-option>
        </mat-select>
        <mat-error>
          Please provide a valid User Type
        </mat-error>                
    </mat-form-field>

       

        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>

  
 
 