<mat-toolbar class="restaurant-toolbar" color="primary">{{data.NombreCorto}}</mat-toolbar>

<mat-dialog-content>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Observaciones</mat-label>
    <textarea matInput [(ngModel)]="data.Observaciones"></textarea>
  </mat-form-field>

  <!-- Botón para abrir el teclado virtual -->
  <button mat-raised-button class="custom-button" (click)="abrirTeclado()">Escribir observación manual</button>

  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="COMIDAS">
      <mat-card-content>
        <div class="main-group">
          <ng-template ngFor let-item [ngForOf]="ListaObservacionComida">
            <mat-card fxFlex="25" class="item-observacion" (click)="agregarobservacion(item)">
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <div>{{ item.Descripcion }}</div>
              </div>
            </mat-card>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-tab>

    <mat-tab label="BEBIDAS">
      <mat-card-content>
        <div class="main-group">
          <ng-template ngFor let-item [ngForOf]="ListaObservacionBebida">
            <mat-card fxFlex="25" class="item-observacion" (click)="agregarobservacion(item)">
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <div>{{ item.Descripcion }}</div>
              </div>
            </mat-card>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions class="example-button-row">
  <button mat-raised-button color="primary" class="custom-button" (click)="onAgregarClick()">Agregar</button>
  <button mat-raised-button color="warn" class="custom-button" (click)="onNoClick()">Cancelar</button>
</mat-dialog-actions>
