  <button mat-icon-button class="close-button" (click)="salir()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="usuario-mantenimiento">
    <h2>Mantenimiento de usuarios</h2>

    <!-- Lista de usuarios, visible por defecto -->
    <div class="usuarios-list" *ngIf="!showForm">
      <button mat-raised-button color="primary" (click)="nuevousuario()">
        Nuevo usuario
      </button>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="filtrousuario" (ngModelChange)="applyFilter()"
          placeholder="Buscar por nombre, RUC, etc.">
      </mat-form-field>
      <mat-table [dataSource]="filteredusuarios" class="mat-elevation-z8">
        <!-- RUC Column -->
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef> Nombre de Usuario</mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.Username}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="niveldescripcion">
          <mat-header-cell *matHeaderCellDef> Nivel </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.Nivel_Usuario.Descripcion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="activo">
          <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.Activo}} </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let usuario">
            <button mat-icon-button color="primary" (click)="onEdit(usuario)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(usuario.IdUsuario)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [length]="usuarios.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>

    <!-- Formulario de usuario, visible solo cuando showForm es true -->
    <form *ngIf="showForm" #usuarioForm="ngForm" (ngSubmit)="onSubmit()">
      <!-- Primera línea: Tipo Identidad y RUC -->
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Nombre de Usuario</mat-label>
          <input matInput [(ngModel)]="usuario.Username" name="username" required #username="ngModel">
          <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
            El nombre de Usuario es requerido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="usuario.Password" name="password"
            required #password="ngModel">
          <button mat-icon-button matSuffix type="button" (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
            El password es requerido.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Empleado</mat-label>
          <mat-select [(ngModel)]="usuario.Empleado" name="empleado" required #empleado="ngModel"
            [compareWith]="compareEmpleado">
            <mat-option *ngFor="let item of listEmpleado" [value]="item">
              {{item.Nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="empleado.invalid && (empleado.dirty || empleado.touched)">
            Seleccione un empleado.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nivel</mat-label>
          <mat-select [(ngModel)]="usuario.Nivel_Usuario" name="nivelusuario" required #nivelusuario="ngModel"
            [compareWith]="compareNivel">
            <mat-option *ngFor="let tipo of listNivelUsuario" [value]="tipo">
              {{tipo.Descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="nivelusuario.invalid && (nivelusuario.dirty || nivelusuario.touched)">
            Seleccione un cargo.
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary">
        {{ usuario.Idusuario ? 'Actualizar' : 'Guardar' }}
      </button>
      <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    </form>
  </div>