<mat-toolbar color="primary">{{ 'tableData' | tenantText }}</mat-toolbar>
<mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'tableNumber' | tenantText }}</mat-label>
    <input matInput id="NumEspacio" name="NumEspacio"    [(ngModel)]="data.NumEspacio">
</mat-form-field>

<mat-form-field [hintLabel]="'onlyNumbers' | tenantText" appearance="fill">
  <mat-label>{{ 'guests' | tenantText }}</mat-label>
  <input matInput #input maxlength="2" id="NroPersonas" (focus)="onsetFocus('NroPersonas')" name="NroPersonas" [(ngModel)]="NroPersonas">
</mat-form-field>
<br>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onAgregarClick()" [mat-dialog-close]="data" cdkFocusInitial>{{ 'add' | tenantText }}</button>
  <button mat-raised-button color="primary" (click)="onNoClick()">{{ 'cancel' | tenantText }}</button>
</mat-dialog-actions>