<mat-toolbar color="primary">{{data.Espacio}}  -  S/. {{Total}}</mat-toolbar>
<mat-dialog-content>
    <br>
    <div>
        - {{ 'orderNumber' | tenantText }} : <strong>{{IdPedido}}</strong>
        - {{ 'orderAttendant' | tenantText }} : <strong>{{Mozo}}</strong>
        - {{ 'orderTime' | tenantText }} : <strong>{{ HoraPedido | date:'HH:mm' }}</strong>
    </div>
    


<!-- 
<mat-form-field appearance="fill">
    <mat-label>Pedido</mat-label>
    <input matInput value="{{pedidoId}}">
</mat-form-field>
    <mat-form-field appearance="fill">
    <mat-label>Hora Pedido</mat-label>
    <input matInput value="{{horaPedido}}">
</mat-form-field> -->
                

<div class="mat-elevation-z8" >
  <table mat-table [dataSource]="GridListaPedidoDetProducto">

    <!--  <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id Producto </th>
          <td mat-cell *matCellDef="let product"> {{product.idProducto}} </td>
      </ng-container>-->

      <ng-container matColumnDef="nombrecorto">
          <th mat-header-cell *matHeaderCellDef> {{ 'product' | tenantText }} </th>
          <td mat-cell *matCellDef="let product"> {{product.NombreCorto}} </td>
      </ng-container>

      <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> {{ 'price' | tenantText }} </th>
          <td mat-cell *matCellDef="let product"> {{product.Precio}} </td>
      </ng-container>
      

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> {{ 'quantity' | tenantText }} </th>
        <td mat-cell *matCellDef="let product"> {{product.Cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="delete" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="deleteProductGrid(element)">
            <mat-icon>delete</mat-icon>
        </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="ListaProductosdisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: ListaProductosdisplayedColumns;"></tr>
  </table>
  <!-- <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator> -->
</div>   
<mat-dialog-actions>
   <button mat-raised-button color="primary" (click)="onImprimirPrecuentaClick()">{{ 'printPreBill' | tenantText }}</button>
  <button mat-raised-button color="primary" (click)="onNoClick()">{{ 'exit' | tenantText }}</button>
</mat-dialog-actions>
