<div class="mant-panel">
  <!-- cerrar -->
  <button mat-icon-button class="close-button" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>

  <h2 class="ventas-panel__title">Listado de Ventas Generales</h2>

  <!-- FILTROS -->
  <div class="ventas-panel__filters">
    <mat-checkbox class="ventas-panel__checkbox" [(ngModel)]="listarTodosLosTurnos" (change)="aplicarFiltro()">
      Ventas de todos los turnos/cajas
    </mat-checkbox>

    <mat-checkbox class="ventas-panel__checkbox" [(ngModel)]="listarDI" (change)="aplicarFiltro()">
      *
    </mat-checkbox>

    <mat-form-field appearance="fill" class="form-field form-field--sm">
      <mat-label>Campo</mat-label>
      <mat-select [(ngModel)]="campoSeleccionado" (selectionChange)="aplicarFiltro()">
        <mat-option value="Caja">Caja</mat-option>
        <mat-option value="TipoDocumento">Tipo de Documento</mat-option>
        <mat-option value="Documento">Documento</mat-option>
        <mat-option value="Cliente">Cliente</mat-option>
        <mat-option value="FechaVenta">Fecha</mat-option>
        <mat-option value="Moneda">Moneda</mat-option>
        <mat-option value="Dscto">Dscto</mat-option>
        <mat-option value="Inafecto">Inafecto</mat-option>
        <mat-option value="ValorVenta">Valor Venta</mat-option>
        <mat-option value="IGV">IGV</mat-option>
        <mat-option value="Servicio">Servicio</mat-option>
        <mat-option value="ICBPER">ICBPER</mat-option>
        <mat-option value="Total">Total</mat-option>
        <mat-option value="EstadoDescripcion">Estado Descripción</mat-option>
        <mat-option value="EstadoPago">Estado Pago</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field form-field--grow">
      <mat-label>Buscar</mat-label>
      <input matInput placeholder="Buscar" [(ngModel)]="textoFiltro" (input)="aplicarFiltro()" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" (click)="OpenDialogEmitirVenta()">
      Emisión de Comprobante
    </button>

    <button mat-raised-button color="primary" type="button" class="ventas-panel__action-btn">
      Emisión de Nota de Crédito
    </button>
    <button mat-raised-button color="primary" type="button" (click)="actualizarLista()">
      Actualizar lista
    </button>
  </div>

  <!-- TABLA + ACCIONES -->
  <div class="ventas-panel__content">
    <!-- tabla -->
    <div class="ventas-panel__table-card">
      <div class="ventas-panel__table-wrapper">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ventas-table">
          <!-- columnas dinámicas + acciones -->
          <ng-container *ngFor="let col of columnDefs" [matColumnDef]="col.key">
            <!-- HEADER -->
            <th mat-header-cell *matHeaderCellDef>
              {{ col.label }}
            </th>

            <!-- CELDA -->
            <td mat-cell *matCellDef="let row">
              <ng-container [ngSwitch]="col.key">

                <!-- Celda de acciones -->
                <ng-container *ngSwitchCase="'acciones'">
                  <button mat-icon-button [matMenuTriggerFor]="menuAcciones"
                    (click)="seleccionarVenta(row); $event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </ng-container>

                <!-- Celdas normales -->
                <ng-container *ngSwitchDefault>
                  {{ row[col.key] }}
                </ng-container>

              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" [class.selected]="row === ventaSeleccionada"
            (click)="seleccionarVenta(row)"></tr>
        </table>
        <!-- Menú de acciones -->
        <mat-menu #menuAcciones="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Modificar Documento</span>
          </button>

          <button mat-menu-item>
            <mat-icon>payments</mat-icon>
            <span>Modificación de Pagos</span>
          </button>

          <button mat-menu-item>
            <mat-icon>picture_as_pdf</mat-icon>
            <span>Obtener PDF y XML</span>
          </button>

          <button mat-menu-item (click)="reImprimirDocumento()">
            <mat-icon>print</mat-icon>
            <span>Reimprimir Documento</span>
          </button>

          <button mat-menu-item (click)="anularDocumento()">
            <mat-icon>cancel</mat-icon>
            <span>Anular</span>
          </button>
        </mat-menu>

      </div>

      <mat-paginator [length]="ventas.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </div>
</div>