<ng-container *ngIf="esAprobador$ | async">
  <ng-container *ngIf="pendientes$ | async as pendientes">
    <button *ngIf="variante === 'icono'"
            mat-icon-button
            type="button"
            class="approval-button approval-button--icon"
            [class.approval-button--pending]="pendientes.length > 0"
            [matTooltip]="'approvalRequests' | tenantText"
            [attr.aria-label]="'approvalRequests' | tenantText"
            (click)="abrir()">
      <mat-icon [matBadge]="pendientes.length"
                [matBadgeHidden]="pendientes.length === 0"
                matBadgeColor="warn"
                matBadgeSize="small">
        {{ pendientes.length > 0 ? 'notifications_active' : 'notifications' }}
      </mat-icon>
    </button>

    <button *ngIf="variante === 'canal'"
            type="button"
            class="approval-button approval-button--channel"
            [class.approval-button--pending]="pendientes.length > 0"
            (click)="abrir()">
      <mat-icon>{{ pendientes.length > 0 ? 'notifications_active' : 'notifications' }}</mat-icon>
      {{ 'approvalRequestsShort' | tenantText }}
      <span *ngIf="pendientes.length > 0" class="approval-button__count">{{ pendientes.length }}</span>
    </button>
  </ng-container>
</ng-container>
