<div class="admin-menu">
  <div class="admin-menu__sections">

    <div class="admin-menu__section" *ngFor="let section of seccionesVisibles">
      <h4 class="admin-menu__subtitle">{{ section.titleKey | tenantText }}</h4>

      <div
        class="tiles-grid"
        [class.tiles-grid--accent]="section.titleKey === 'menuWarehouseMovements'"
        [class.tiles-grid--report]="section.titleKey === 'menuInventoryControl' || section.titleKey === 'menuReports'"
        [class.tiles-grid--process]="section.titleKey === 'menuWarehouseTransformation'"
      >
        <button
          type="button"
          class="tile"
          [class.tile--disabled]="item.disabled"
          *ngFor="let item of itemsVisibles(section)"
          [disabled]="item.disabled"
          (click)="openDialog(item)"
          [title]="item.titleKey | tenantText"
        >
          <mat-icon class="tile__icon">{{ item.icon }}</mat-icon>
          <span class="tile__label">{{ item.labelKey | tenantText }}</span>
        </button>
      </div>
    </div>

  </div>
</div>
