<mat-toolbar class="app-toolbar">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button [matMenuTriggerFor]="afterMenu">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <mat-menu #afterMenu="matMenu" xPosition="after" class="app-menu">
    <mat-nav-list>
      <button mat-menu-item (click)="Dashboard()">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-menu-item (click)="Administracion()">
        <mat-icon>settings</mat-icon>
        <span>Administración</span>
      </button>
      <button mat-menu-item (click)="Caja()">
        <mat-icon>point_of_sale</mat-icon>
        <span>Caja</span>
      </button>
      <button mat-menu-item (click)="Mozo()">
        <mat-icon>restaurant</mat-icon>
        <span>Mozo</span>
      </button>
    </mat-nav-list>
  </mat-menu>

  <span class="app-toolbar__title">{{ title }}</span>

  <span class="example-spacer"></span>

  <div class="turno-chip" *ngIf="userLoginOn && turnoOpenShare">
    {{ sDatosUsuarioTurno }}
  </div>

  <span class="example-spacer"></span>

  <button mat-icon-button matTooltip="Ir al inicio" (click)="reiniciar()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Salir" (click)="SalirSistemas()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
