<div class="admin-menu">
  <h3 class="admin-menu__title">Sección ventas</h3>

  <div class="admin-menu__sections">
    <section class="admin-menu__section" *ngFor="let section of ventasMenu">
      <h4 class="admin-menu__subtitle">{{ section.title }}</h4>

      <ul class="admin-menu__list">
        <li
          class="admin-menu__item"
          *ngFor="let item of section.children"
        >
          <button
            type="button"
            class="admin-menu__link"
            (click)="openDialog(item)"
          >
            <span class="admin-menu__link-label">{{ item.title }}</span>
          </button>
        </li>
      </ul>
    </section>
  </div>
</div>
