<div class="admin-menu">
  <div class="admin-menu__sections">

    <div class="admin-menu__section" *ngFor="let section of ventasMenu">
      <h4 class="admin-menu__subtitle">{{ section.title }}</h4>

      <div class="tiles-grid"
           [class.tiles-grid--accent]="section.title === 'Operaciones'"
           [class.tiles-grid--report]="section.title === 'Reportes'">
        <button
          type="button"
          class="tile"
          *ngFor="let item of section.children"
          (click)="openDialog(item)"
          [title]="item.title"
        >
          <mat-icon class="tile__icon">{{ item.icon }}</mat-icon>
          <span class="tile__label">{{ item.label }}</span>
        </button>
      </div>
    </div>

  </div>
</div>
