.report {
  background-color: white;
  display: flex;
  flex-direction: column;
}
  
  .report h2 {
    margin-top: 0;
    font-size: 1.25rem;
    color: #34495e;
    text-align: center;
  }
  
  .select-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  
  .chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: #ecf0f1;
    border-radius: 4px;
  }
  .horaPico {
    background-color: #2980b9; /* Color de fondo destacado */
    color: #ffffff; /* Color de texto blanco para resaltar */
    padding: 10px;
  } 