.m-cant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #FF7043; /* Borde color cálido */
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra suave */
  background-color: #FFF3E0; /* Fondo cálido */
  box-sizing: border-box;
  overflow: hidden;
}

.display input {
  width: calc(100% - 20px);
  padding: 15px;
  font-size: 2em; /* Tamaño más grande para ser fácilmente visible en touch */
  text-align: right;
  border: 2px solid #FF7043; /* Borde color cálido */
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fff; /* Fondo blanco */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra interna */
  color: #333; /* Texto oscuro */
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.keypad button {
  padding: 20px;
  font-size: 1.5em;
  border: 2px solid #FF7043; /* Borde cálido */
  border-radius: 10px;
  cursor: pointer;
  background-color: #FFCC80; /* Fondo cálido */
  color: #333; /* Texto oscuro */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Animación */
}

.keypad button:hover {
  background-color: #FFA726; /* Hover más oscuro */
  transform: translateY(-2px); /* Efecto de levitación */
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.actions button {
  flex: 1;
  margin: 0 5px;
  padding: 15px;
  font-size: 1.5em;
  border: 2px solid #FF7043;
  border-radius: 10px;
  cursor: pointer;
  background-color: #FF7043;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.actions button:hover {
  background-color: #F4511E; /* Hover en botones de acciones */
  transform: translateY(-2px); /* Efecto de levitación */
}

.actions button:first-child {
  background-color: #FFCC80; /* Botón Borrar color diferente */
  color: #333; /* Texto oscuro */
}

.actions button:first-child:hover {
  background-color: #FFA726;
}
