.m-cant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
  overflow: hidden; /* Elimina el scroll horizontal */
}

.display input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 1.5em;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
}

.keypad button {
  width: 100%;
  padding: 20px;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
}

.keypad button:hover {
  background-color: #e0e0e0;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
}

.actions button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
}

.actions button:hover {
  background-color: #e0e0e0;
}
