<div flex *ngIf="muestraAceptacion">
    <h1 mat-dialog-title>{{ 'confirmVoidTitle' | tenantText }}</h1>
    <div mat-dialog-content>
        <mat-label>{{ 'confirmDeleteProduct' | tenantText:{ product: data.nombreProducto } }}</mat-label>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  (click)="acepta(false)">{{ 'no' | tenantText }}</button>
        <button mat-raised-button color="primary" (click)="acepta(true)">{{ 'yes' | tenantText }}</button>
    </div>
</div>

<div  flex *ngIf="muestraPedidoClave">
    <h1 mat-dialog-title>{{ 'administrator' | tenantText }}</h1>
    <div mat-dialog-content>
          <mat-form-field>
            <mat-label>{{ 'password' | tenantText }}</mat-label>
            <input matInput id="clave" name="clave" [(ngModel)]="clave" type="password">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  (click)="authenticar()">{{ 'authenticate' | tenantText }}</button>
        <button mat-raised-button color="primary" (click)="acepta(false)">{{ 'cancel' | tenantText }}</button>
    </div>
</div>

<div  flex *ngIf="muestraIngresoMotivo">

    <h1 mat-dialog-title>{{ 'product' | tenantText }}: {{data.nombreProducto}}</h1>
    <div mat-dialog-content>
          <mat-form-field>
            <mat-label>{{ 'voidReason' | tenantText }}</mat-label>
            <input matInput id="data.motivoAnulacion" name="data.motivoAnulacion" [(ngModel)]="data.motivoAnulacion">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="enviarAnulacion()">{{ 'void' | tenantText }}</button>
        <button mat-raised-button color="primary" (click)="acepta(false)">{{ 'cancel' | tenantText }}</button>
    </div>
</div>