<div class="complementos-container">
  <div class="columnas">
    <!-- Primera columna (Botones dinámicos) -->
    <div class="complementos-configurados">
      <div class="grid-buttons">
	   <button *ngFor="let btn of listProductosComplementos" mat-button (click)="selectButton(btn)">
          {{ btn.NombreCorto }} x{{ btn.FactorComplemento }}
        </button></div>
    </div>

    <!-- Segunda columna (Datos del producto) -->
    <div class="producto-info">
      <!-- Producto y cantidad -->
      <div class="producto-linea">
        <label>Producto:</label>
        <input matInput [(ngModel)]="pedidodet.Producto.NombreCorto" readonly />
      </div>

      <!-- Cantidad y complementos en la siguiente línea -->
      <div class="producto-cantidad-linea">
        <div class="qty-container">
          <label>Qty:</label>
          <input matInput [(ngModel)]="pedidodet.Cantidad" />
          <button mat-icon-button color="primary" (click)="openDialogCant()" disabled="{{pedidodet.Item > 0 ? 'true': 'false'}}">
            <mat-icon>add</mat-icon> <!-- Botón con icono de "+" -->
          </button>
        </div>
        <div class="complementos1-container">
          <label>Cant. Complem.:</label>
          <input matInput [(ngModel)]="cantidadComplementos" />
        </div>
      </div>

      <!-- Data Grid para productos agregados -->
      <div class="limited-height-table">
      <mat-table [dataSource]="gridListaPedidoComplemento" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef class="ancho-producto"> Producto </mat-header-cell>
          <mat-cell *matCellDef="let element" class="ancho-producto"> {{element.ProductoComplemento.NombreCorto}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="qty">
          <mat-header-cell *matHeaderCellDef> Qty </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Cantidad}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ft">
          <mat-header-cell *matHeaderCellDef> Ft </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ProductoComplemento.FactorComplemento}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <!-- <mat-icon>add</mat-icon>  -->

            <button mat-icon-button color="primary" matTooltip="Mas Opciones" [matMenuTriggerFor]="MasOpciones">
              <mat-icon>more</mat-icon>
            </button>
            <mat-menu #MasOpciones="matMenu">
              <button mat-icon-button color="primary" matTooltip="Aumantar Cantidad"
              (click)="aumentarProductGrid(element)" disabled="{{element.ItemComple > 0 ? 'true': 'false'}}">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Restar Cantidad" (click)="restarProductGrid(element)"
              disabled="{{element.ItemComple > 0 ? 'true': 'false'}}">
              <mat-icon>remove</mat-icon>
            </button>
              <button mat-icon-button color="accent" matTooltip="Eliminar" (click)="deleteProductGrid(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      </div>
      <div class="total-complementos">
        <div>
          <label>Complem. ingresados: </label>
          <input matInput [(ngModel)]="totIngreso" readonly />
        </div>
        <div>
          <label>Limite de Complem.: </label>
          <input matInput [(ngModel)]="total" readonly />
        </div>
      </div>

     <!-- Botones de Aceptar y Cancelar -->
      <div class="botones-accion">
        <!-- Añadir la clase 'aceptar' para el botón Aceptar -->
        <button class="aceptar" (click)="aceptar()">Aceptar</button>
        
        <!-- Añadir la clase 'cancelar' para el botón Cancelar -->
        <button class="cancelar" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
