<form [formGroup]="form">
  <mat-form-field appearance="outline" class="flex-item">
    <mat-label>Tipo Documento</mat-label>
    <mat-select formControlName="tipoDocumento" name="tipoDocumento" required>
      <mat-option *ngFor="let item of listTipoDocumento" [value]="item.IdTipoDoc">
        {{item.Descripcion}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div formGroupName="cliente">
    <mat-form-field appearance="outline" class="flex-item">
      <mat-label>Tipo Documento Cliente</mat-label>
      <mat-select formControlName="TipoIdentidad" name="tipoDocumentoCliente" (selectionChange)="tipoDocumentoClienteChange()" required>
        <mat-option *ngFor="let item of listTipoDocumentoCliente" [value]="item.IdTipoIdentidad">
          {{item.Descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="ruc-field">
      <mat-label>{{cliente.TipoIdentidad?.Descripcion}}</mat-label>
      <input matInput placeholder="123..." formControlName="Ruc" required>
      <mat-error *ngIf="form.get('cliente.Ruc').hasError('length')">Debe tener {{rucLength}} caracteres.</mat-error>
      <mat-error *ngIf="form.get('cliente.Ruc').hasError('required')">El campo es requerido.</mat-error>
      <mat-error *ngIf="form.get('cliente.Ruc').hasError('pattern')">Debe ser un número.</mat-error>
      <mat-error *ngIf="form.get('cliente.Ruc').hasError('invalidRUC')">RUC inválido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="cliente-field">
      <mat-label>Cliente</mat-label>
      <input matInput formControlName="RazonSocial" required>
      <mat-error *ngIf="form.get('cliente.RazonSocial').hasError('invalidRazonSocial')">
        La razón social debe ser "Cliente Varios" cuando el RUC es 00000001.
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="flex-grow-1 mr-3">
    <mat-label>Monto a Pagar</mat-label>
    <input matInput type="text" [value]="lblmonto" readonly>
  </mat-form-field>
</form>