<div class="container">
  <button *ngIf="isAdmin"
          mat-fab
          class="admin-fab"
          aria-label="Ir a Administración"
          matTooltip="Administración (Ctrl+Alt+A)"
          (click)="goAdmin()">
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
  <!-- Primera Columna -->
<div class="column-left">

    <div class="top-section">
         <!-- Primera fila: Turno y Pedido -->
        <div class="info-row">
          <div *ngIf="turnoAbierto">
            <label>Turno: {{ turnoAbierto.NroTurno }} - OPEN </label>
            <br>
            <label>Pedido: {{ turnoAbierto.NroPedido }}</label>
          </div>
        </div>
        
        <!-- Segunda fila: Fecha y Usuario -->
        <div class="info-row">
          <div *ngIf="turnoAbierto">
          <label>Fecha: {{ turnoAbierto.FechaTrabajo| date: 'dd/MM/yyyy' }} </label>
        </div>
          <label>Usuario: {{ userLoged.username }}</label>
        </div>
      <!-- Botones en la parte superior derecha -->
      <div class="channel-buttons">
        <button (click)="canalVenta(canalVentaEnum.MESA)" [disabled]="isCanalVentaDisabled">
          <fa-icon [icon]="faUtensils"></fa-icon> CANAL MESA
        </button>
        <button (click)="canalVenta(canalVentaEnum.PARA_LLEVAR)" [disabled]="isCanalVentaDisabled">
          <fa-icon [icon]="faShoppingBag" ></fa-icon> CANAL LLEVAR
        </button>
        <button *ngIf="!isEntrada" (click)="canalVenta(canalVentaEnum.DELIVERY)" [disabled]="isCanalVentaDisabled">
          <fa-icon [icon]="faTruck" ></fa-icon> CANAL DELIVERY
        </button>
        <button *ngIf="isEntrada" (click)="canalVenta(canalVentaEnum.ENTRADAS)" [disabled]="isCanalVentaDisabled">
          <fa-icon [icon]="faWalking" ></fa-icon> ENTRADA
        </button>
        <button (click)="Refresh()">
          <fa-icon [icon]="faSync"></fa-icon> REFRESH
        </button>
      </div>
    </div>
    <div class="middle-section">
      <div class="table-info">
        <label *ngIf="idCanalVentaSelected == canalVentaEnum.MESA && mesaSelected?.Descripcion && mesaSelected?.Numero">
          Mesa Nº: {{ mesaSelected.Descripcion + ' ' + mesaSelected.Numero }} {{nombreCuenta}}
        </label>
        <label *ngIf="idCanalVentaSelected != canalVentaEnum.MESA">Pedido Nº: {{pedidoId}}</label> 
        <label *ngIf="idCanalVentaSelected == canalVentaEnum.MESA">Nº Pax: {{ mesaSelected?.NroPersonas }}</label> 
        <label *ngIf="idCanalVentaSelected == canalVentaEnum.MESA">Mozo: {{ mozoSelected?.Nombre }}</label>
        <label *ngIf="idCanalVentaSelected != canalVentaEnum.MESA">Cliente: {{ clienteSelected?.RazonSocial }}</label>
        <label>Hora: {{ horaPedido }}</label> 
      </div>
      <div #scrollContainer class="data-grid">
        <!-- <div  mat-table > -->
          <table mat-table [dataSource]="gridListaPedidoDetProducto">
            <ng-container matColumnDef="NombreProducto">
              <th mat-header-cell *matHeaderCellDef> Producto </th>
              <td mat-cell *matCellDef="let product"  [ngStyle]="{'color': product.Item > 0 ? 'blue' : 'black'}">
                <table>
                  <tr>{{product.Producto.NombreCorto}}
                  </tr>
                  <tr *ngIf="product.Observacion" style="font-style: italic; font-size: small;">Observacion:
                    {{product.Observacion}}
                  </tr>
                  <tr *ngIf="product.Anfitriona" style="font-style: italic; font-size: small;">Anfitriona:
                    {{product.Anfitriona}}
                  </tr>
                  <tr *ngIf="product.NroCupon" style="font-style: italic; font-size: small;">NroCupon:
                    {{product.NroCupon}}
                  </tr>
                  <tr *ngIf="product.PedidoComplemento?.length" style="font-style: italic; font-size: small;">Con Complemento
                  </tr>
                </table>
              </td>
            </ng-container>

            <ng-container matColumnDef="Precio">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let product" [ngStyle]="{'color': product.Item > 0 ? 'blue' : 'black'}">
                {{product.Precio}} </td>
            </ng-container>

            <ng-container matColumnDef="Cantidad">
              <th mat-header-cell *matHeaderCellDef> Qty </th>
              <td mat-cell *matCellDef="let product" [ngStyle]="{'color': product.Item > 0 ? 'blue' : 'black'}">
                {{product.Cantidad}} </td>
            </ng-container>


            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let product">
                <!-- <mat-icon>add</mat-icon>  -->
                <button mat-icon-button color="primary" matTooltip="Aumantar Cantidad"
                  (click)="aumentarProductGrid(product)" disabled="{{product.Item > 0 ? 'true': 'false'}}">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="Restar Cantidad" (click)="restarProductGrid(product)"
                  disabled="{{product.Item > 0 ? 'true': 'false'}}">
                  <mat-icon>remove</mat-icon>
                </button>
                <button mat-icon-button color="primary" matTooltip="Mas Opciones" [matMenuTriggerFor]="MasOpciones">
                  <mat-icon>more</mat-icon>
                </button>
                <mat-menu #MasOpciones="matMenu">

                  <button mat-icon-button color="accent" matTooltip="Eliminar" (click)="deleteProductGrid(product)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" matTooltip="Observacion"
                    (click)="openDialoObservaciones(product)" disabled="{{product.Item > 0 ? 'true': 'false'}}">
                    <mat-icon>event_note</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" matTooltip="Anfitriona"  (click)="ingresarCodigosAnfitrionas(product)"  [disabled]="!product.Producto.ExclusivoParaAnfitriona || product.Item > 0">
                    <mat-icon>woman</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" matTooltip="Trago Gratis"  (click)="ingresarCodigoCortesia(product)"  [disabled]="!product.Producto.PermitirParaTragoCortesia || product.Item > 0">
                    <mat-icon>local_bar</mat-icon>
                  </button>
                </mat-menu>
              </td>
            </ng-container>





            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [class.selected-row]="selectedRow === row"></tr>
          </table>
          <!-- <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons></mat-paginator> -->
        </div>
      <!-- </div> -->
    </div>

    <!-- Tres filas estáticas debajo del datagridview -->
    <!-- Primera fila: Importe, Dscto, Total -->
    <div class="total-section">
      <label>Importe:</label><input type="text" readonly [value]="sumaImporte | currency:'PEN' " />
      <label>Dscto:</label><input type="text" readonly  [value]="sumaDscto | currency:'PEN' "/>
      <label>Total:</label><input type="text" readonly  [value]="sumaTotal | currency:'PEN' "/>
      <input type="text" readonly [value]="sumaImpuestoBolsa  | currency:'PEN' "/>
    </div>

    <!-- Segunda fila: Combo, Ver Complemento, Priorizar Despacho, Enviar Pedido -->
   <!-- Primera fila de botones -->
<div class="button-row">
  <button [disabled]="!procesarPedido" (click)="aplicarDescuento()">
    <fa-icon [icon]="faPercentage"></fa-icon>{{textDescuento}} 
  </button>
  <button (click)="ImprimirPrecuenta()">
    <fa-icon [icon]="faReceipt"></fa-icon> Precuenta
  </button>
  <button (click)="OpenDialogDocumentosEmitidos()" >
    <fa-icon [icon]="faFileAlt"></fa-icon> Documentos Emitidos
  </button>
  <button>
    <fa-icon [icon]="faChartPie"></fa-icon> Gastos/Reportes
  </button>
</div>

<!-- Segunda fila de botones -->
<div class="button-row">
  <button [disabled]="!procesarPedido" (click)="OpenDialogEmitirComprobante(TipoDocumento.BoletaVenta)">
    <fa-icon [icon]="faFileInvoiceDollar"></fa-icon> Boleta
  </button>
  <button [disabled]="!procesarPedido" (click)="OpenDialogEmitirComprobante(TipoDocumento.FacturaVenta)">
    <fa-icon [icon]="faFileInvoice" ></fa-icon> Factura
  </button>
  <button [disabled]="!procesarPedido" (click)="OpenDialogEmitirComprobante(TipoDocumento.Express)">
    <fa-icon [icon]="faReceipt"></fa-icon> Express
  </button>
  <button [disabled]="isEnviarPedidoDisabled" (click)="EnviarPedido()">
    <fa-icon [icon]="faPaperPlane"></fa-icon> Enviar Pedido
  </button>
  <button [disabled]="isBloquearDisabled" (click)="toggleBloquear()">
    <fa-icon [icon]="!procesarPedido ? faLock : faSync"></fa-icon> 
    {{ !procesarPedido ? 'Bloquear' : 'Rehacer' }}
  </button>
</div>

  </div>

  <!-- Segunda Columna -->
  <div class="column-right">
    <!-- Alterna entre las mesas y los productos -->
    <div *ngIf="MostrarOcultarPanelMesa && idCanalVentaSelected==canalVentaEnum.MESA" class="tables-grid">
      <button *ngFor="let mesa of listaMesas_x_Ambiente"
        [style.background]="mesa.Color" 
        (click)="openDialogMesa(mesa)"
        [style.visibility]="mesa.Visible === false ? 'hidden' : 'visible'">
        <div style="text-align: center;">{{mesa.Descripcion}} {{mesa.Numero}} <br> S/.{{mesa.Total}} <br> {{mesa.NombreEmpleado?.substring(0, 8)}}</div>
      </button>
    </div>

    <div *ngIf="MostrarOcultarPanelMesa && idCanalVentaSelected!=canalVentaEnum.MESA" class="tables-grid">
      <button *ngFor="let pedido of listaPedido_x_Canal"
        [style.background]="'LightCyan'"
        (click)="openPedido(pedido)"
        [style.visibility]="pedido.Visible === false ? 'hidden' : 'visible'">
        <div style="text-align: center;">{{pedido.NroPedido}} <br> S/.{{pedido.Total}} <br> {{pedido.Cliente}}</div>
      </button>
    </div>

    <div *ngIf="MostrarOcultarPanelProducto" class="products-grid">
      <button *ngFor="let producto of listProducts_x_SubFamilia" 
      style="{{producto.Color}}"
      [style.visibility]="producto.Visible ? 'visible' : 'hidden'" (click)="AgregarProducto(producto)" [disabled]="isPanelProductoDisabled">
        <div style="text-align: center;"> {{producto.NombreCorto}} <br> S/.{{producto.Precio}}</div>
      </button>
    </div>

    <!-- Fila estática de botones (Barra, Salón, Box, Patio, Terraza) -->
    <div *ngIf="!procesarPedido  || aplicarFiltroUnirMesa==true || aplicarFiltroCambioMesa==true">
      <div class="static-buttons-row" *ngIf="idCanalVentaSelected == canalVentaEnum.MESA">
        <button *ngFor="let item of listAmbiente"
        (click)="MostrarMesas_x_Ambiente(item)">{{item.Descripcion}}</button>
      </div>
      
      <!-- Segunda fila estática de botones con "Procesar Pedido" -->
      <div class="static-buttons-row">
        <button *ngIf="idCanalVentaSelected != canalVentaEnum.MESA" class="process-pedido" (click)="NuevoPedidoLlevar()">Nuevo Pedido</button>
        <button class="process-pedido" (click)="processPedido(true)">Procesar Pedido</button>
        <button *ngIf="idCanalVentaSelected == canalVentaEnum.MESA">Cambiar Mozo</button>
        <button *ngIf="idCanalVentaSelected == canalVentaEnum.MESA" (click)="CambiarMesa()">Cambiar Mesa</button>
        <button *ngIf="idCanalVentaSelected == canalVentaEnum.MESA" (click)="UnirMesa()">Unir Cuenta</button>
        <button *ngIf="idCanalVentaSelected == canalVentaEnum.MESA" (click)="dividirCuenta()">Dividir Cuenta</button>
        <button *ngIf="idCanalVentaSelected == canalVentaEnum.MESA">Limpiar Mesa</button>
        <button *ngIf="idCanalVentaSelected == canalVentaEnum.MESA">Activar Mesa</button>
      </div>
    </div>
    <div *ngIf="procesarPedido && aplicarFiltroUnirMesa==false && aplicarFiltroCambioMesa==false">
      <div class="static-buttons-row">
        
        <button *ngFor="let item of listFamilia"
        [ngClass]="{'selected': selectedItemFamilia === item}"   
        (click)="ListarSubFamilia_x_Familia(item)">
          {{item.Descripcion}}
        </button>
        <button [disabled]="isPanelProductoDisabled" (click)="openProductSearch()">Buscar Productos</button>
      </div>
  
      <!-- Segunda fila estática de botones con "Procesar Pedido" -->

      <div class="static-buttons-container">
        <div class="static-buttons-row">
          <button *ngFor="let item of listSubFamilia_x_Familia"   
                  [ngClass]="{'selected': selectedItemSubFamilia === item}" 
                  (click)="ListarProductos_x_SubFamilia(item)">
            {{item.Descripcion}}
          </button>
        </div>
      </div>

    </div>

    
  </div>
</div>