<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Ignorar si el archivo o directorio existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirigir todas las demás rutas a index.html
    RewriteRule ^.*$ /index.html [L]
</IfModule>
