<div class="container">
  <header>
    <h1>Dashboard de Reportes para Restaurantes</h1>
    <label for="fecha-inicial">Fecha Inicial : </label>
    <input type="date" id="fecha-inicial" [(ngModel)]="fechaInicial" (change)="onFechaInicialChange()" [min]="minFechaFinal">
    <label for="fecha-final">Fecha Final : </label>
    <input type="date" id="fecha-final" [(ngModel)]="fechaFinal" [min]="minFechaFinal" [max]="maxFechaFinal" (change)="onFechaFinalChange()">
  </header>
  <main>
    <div class="report">
      <div class="chart"><app-ventas-diarias [fechaInicial]="fechaInicial" [fechaFinal]="fechaFinal"></app-ventas-diarias></div>
    </div>
    <div class="report">
      <div class="chart"><app-popularidad-platos [fechaInicial]="fechaInicial" [fechaFinal]="fechaFinal"></app-popularidad-platos></div>
    </div>
    <div class="report">
      <div class="chart"><app-horas-pico [fechaInicial]="fechaInicial" [fechaFinal]="fechaFinal"></app-horas-pico></div>
    </div>
    <div class="report">
      <div class="chart"><app-canal-venta [fechaInicial]="fechaInicial" [fechaFinal]="fechaFinal"></app-canal-venta></div>
    </div>
  </main>
  <footer>
    <p>© 2024 Dashboard de Restaurantes. Todos los derechos reservados.</p>
  </footer>
</div>
