<div class="report" style="position: relative; min-height: 200px;">
  <ngx-spinner
  bdColor="rgba(128, 128, 128, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  name="ventaDiariaSpinner"
>
  <p style="font-size: 20px; color: rgb(71, 68, 68)">Cargando...</p>
</ngx-spinner>
  <h2>Ventas Diarias/Semanales/Mensuales</h2>
  <select (change)="onReportTypeChange($event)">
    <option value="diarias">Diarias</option>
    <option value="semanales">Semanales</option>
    <option value="mensuales">Mensuales</option>
  </select>
  <div  class="totalVenta">Total Venta : S/. {{totalVenta}}</div> 
  <div #chart class="chart" id="chart-ventas-diarias"></div>
<div id="tooltip" class="tooltip"></div>
</div>
